
    <h1><%= title %></h1>
    
    <%- messages() %>

    <% if (errors) { %>
        <div class="errors">
          <ul>
          <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
          </ul>
        </div>
      <% } %>
      

    <div class="login-container">
      <form action="/account/login" method="POST" class="login-form">
        <label for="account_email">Email:</label>
        <input 
          type="email" 
          id="account_email" 
          name="account_email" 
          placeholder="Enter your email" 
          required
          value="<%= locals.account_email || '' %>"
        >

        <label for="account_password">Password:</label>
        
        <input 
          type="password" 
          id="account_password" 
          name="account_password" 
          placeholder="Enter your password" 
          required
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          title="Must match your registered password requirements"
        >
        <div class="password-reminder">
            <small>
                <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
            </small>
          </div>

        <!-- Show Password Checkbox -->
        <div class="show-password-container">
          <input type="checkbox" id="show-password">
          <label for="show-password">Show Password</label>
        </div>

        <button type="submit">LOGIN</button>
      </form>
      <p class="register-link">
        No account? <a href="/account/register">Sign-up</a>
      </p>
    </div>

  <!-- Include the separate JS file -->
  <script src="/js/showPassword.js"></script>

